<link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>
<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row fxLayoutAlign="space-between center center ">
            <div fxLayout="row" fxLayoutGap="350px">
                <button mat-button>
                    <mat-icon>home</mat-icon>
                    <span mat-button routerLink="/pict"> Home </span>
                </button>

                <button mat-button routerLink="/contact">Contact us </button>
                <button mat-button routerLink="/about">About us </button>
            </div>


        </mat-toolbar-row>
    </mat-toolbar>
</div>



<div class="wraper" >
    <h1 class="mat-display-4" style="font-family:Allan;color: rgb(165, 42, 144)">chani rubin </h1>
<div class="container">
    <div class="sunglimg" style="background-image: url(https://i.picsum.photos/id/526/300/200.jpg?hmac=QhroacWnfPlK0YwMEc_k87mwcYa35DELBD9Z4gNTuD8);" ></div>
    <div class="sunglimg" style="background-image: url(https://i.picsum.photos/id/827/300/200.jpg?hmac=AmE2F7ykjrLX-Dscw6huhFU4z57CLArUT9fwX8QDXA4);" ></div>
    <div class="sunglimg" style="background-image: url(https://i.picsum.photos/id/314/300/200.jpg?hmac=QFEMlYqoyXcLosQEI07YQ2aKFnsumE2BDtUQfjn6vew);" ></div>
    <div class="sunglimg" style="background-image: url(https://i.picsum.photos/id/15/300/200.jpg?hmac=tdFVEjwaSUhS6YpVET5TTcnfCqQ1rVHeTAF2g7xWxVU);" ></div>
    <div class="sunglimg" style="background-image: url(https://i.picsum.photos/id/781/300/200.jpg?hmac=bhOhd3iZngV3hl4O17N2DRJXSPZwVRzB-cJ2g1PAfmo);" ></div>
    
</div>
</div>
<!-- <div class='container'>

   
  </div> -->