<link href='https://fonts.googleapis.com/css?family=Allan' rel='stylesheet'>
<div>
    <mat-toolbar color="primary">
        <mat-toolbar-row fxLayoutAlign="space-between center center ">
            <div fxLayout="row" fxLayoutGap="350px">
                <button mat-button>
                    <mat-icon>home</mat-icon>
                    <span mat-button routerLink="/pict"> Home </span>
                </button>

                <button mat-button routerLink="/contact">Contact us </button>
                <button mat-button routerLink="/about">About us </button>
            </div>


        </mat-toolbar-row>
    </mat-toolbar>
</div>



<div  style="background-color:lemonchiffon; width:100%;height:100%">
    <h1 class="mat-display-4" style="font-family:Allan;color: rgb(165, 42, 144)">chani rubin </h1>
<div class="container">
    <div><img src='https://picsum.photos/300/200/?random' /></div>
    <div><img src='https://picsum.photos/300/200/?random' /></div>
    <div><img src='https://picsum.photos/300/200/?random' /></div>
    <div><img src='https://picsum.photos/300/200/?random' /></div>
    <div><img src='https://picsum.photos/300/200/?random' /></div>
    <div><img src='https://picsum.photos/300/200/?random' /></div>
    <div><img src='https://picsum.photos/300/200/?random' /></div>
    <div><img src='https://picsum.photos/300/200/?random' /></div>
    <div><img src='https://picsum.photos/300/200/?random' /></div>
    <div><img src='https://picsum.photos/300/200/?random' /></div>
    <div><img src='https://picsum.photos/300/200/?random' /></div>
</div>
</div>
<!-- <div class='container'>

   
  </div> -->