.wraper{
    width: 100%;
    height:100%;
    background-image: url('C:\Users\stu\Downloads/autman.jpg');

}

.container {
    display: flex;
    width: 1000px;
    height: 50vh;
    margin: 3% auto 0;
  }
  h1{
      text-align: center;
      text-shadow: 0 2px 20px ;

  }
  .sunglimg{
      flex: 1;
      margin: 0;
      padding: 0;
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size:cover;
      background-size: cover;
  }
  .sunglimg:hover{
    flex-basis: 40vw;
    
}